<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5><%= @template.name %> Estimation for <%= @estimation.name %></h5>
            </div>
        </div>
    </div>
</div>

<%= render 'functional_scope_view' %>
<% create_button = false %>
<% functional_scope = @estimation.functional_scope %>
<%= form_tag :controller => 'estimations', :action => 'create_estimation_details', :id => 'estimation_details',:method => 'POST' do %>
  <%= hidden_field_tag 'estimation_templates[category_ids]', @template.categories.pluck(:id).join(',') %>
  <%= hidden_field_tag 'estimation_templates[estimation_id]', @estimation.id %>
  <%= hidden_field_tag 'estimation_templates[template_id]', @template.id %>
  <% 
    @estimated_total_cost = 0
    @overridden_total_cost = 0 
  %>
  <% @template.categories.each do |category| %>
    <% sub_categories = category.sub_categories.active %>
    <% if sub_categories.present? %>
      <% create_button = true %>
      <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
              <div class="ibox-title">
                  <h5><%= category.name %></h5>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                  </div>
              </div>
              <div class="ibox-content custom-ibox">
                <div class="row">
                  <div class="col-lg-4">
                    Development Components
                  </div>
                  <div class="col-lg-2">
                    Applicable(Y/N)
                  </div>
                  <div class="col-lg-3" style='padding-left: 0px; padding-right: 0px; display: none;'>
                    Per Component (Low / Medium / High)
                  </div>
                  <div class="col-lg-3" style='padding-left: 0px; padding-right: 0px; display: none;'>
                    # of Component (Low / Medium / High)
                  </div>
                  <div class="col-lg-3">
                    Total Estimated
                  </div>
                  <div class="col-lg-3">
                    Total Overridden
                  </div>
                </div>
              </div>

              
              <% sub_categories.each do |sub_category| %>
                <%= hidden_field_tag 'estimation_details[category_id][]', category.id %>
                <%= hidden_field_tag 'estimation_details[category_name][]', category.name %>
                <%= hidden_field_tag 'estimation_details[estimation_id][]', @estimation.id %>
                <%= hidden_field_tag 'estimation_details[template_id][]', @template.id %>
                <%= hidden_field_tag 'estimation_details[sub_category_id][]', sub_category.id %>
                <%= hidden_field_tag 'estimation_details[created_by][]', session[:user_id] %>

                <!-- Calculation goes here -->  
                <%
                  per_component_low = 0
                  per_component_medium = 0
                  per_component_high = 0
                  component_low_count = 0
                  component_medium_count = 0
                  component_high_count = 0
                  estimated_total = 0
                  overridden_total = 0
                  if [SubCategory::ONE_TIME_SETUP, SubCategory::DEPENDS_ON_ITERATION].include?(sub_category.class_name)
                    if @estimation.complexity == Usecase::COMPLEXITY['Low']
                      estimated_total = sub_category.low_hours
                      overridden_total = sub_category.low_hours
                    elsif @estimation.complexity == Usecase::COMPLEXITY['Medium']
                      estimated_total = sub_category.medium_hours
                      overridden_total = sub_category.medium_hours
                    elsif @estimation.complexity == Usecase::COMPLEXITY['High']
                      estimated_total = sub_category.hours
                      overridden_total = sub_category.hours
                    end
                  elsif sub_category.class_name == SubCategory::DEPENDS_ON_UI
                    component_low_count = functional_scope.ui_low_count
                    component_medium_count = functional_scope.ui_medium_count
                    component_high_count = functional_scope.ui_high_count
                    per_component_low = sub_category.low_hours
                    per_component_medium = sub_category.medium_hours
                    per_component_high = sub_category.hours
                    low_total = (component_low_count * per_component_low)
                    medium_total = (component_medium_count * per_component_medium)
                    high_total = (component_high_count * per_component_high)
                    estimated_total = low_total + medium_total + high_total
                    overridden_total = low_total + medium_total + high_total
                  elsif sub_category.class_name == SubCategory::DEPENDS_ON_USECASE
                    component_low_count = functional_scope.usecase_low_count
                    component_medium_count = functional_scope.usecase_medium_count
                    component_high_count = functional_scope.usecase_high_count
                    per_component_low = sub_category.low_hours
                    per_component_medium = sub_category.medium_hours
                    per_component_high = sub_category.hours
                    low_total = (component_low_count * per_component_low)
                    medium_total = (component_medium_count * per_component_medium)
                    high_total = (component_high_count * per_component_high)
                    estimated_total = low_total + medium_total + high_total
                    overridden_total = low_total + medium_total + high_total
                  elsif sub_category.class_name == SubCategory::DEPENDS_ON_TESTCASE
                    component_low_count = (functional_scope.ui_low_count * 2)
                    component_medium_count = (functional_scope.ui_medium_count * 4)
                    component_high_count = (functional_scope.ui_high_count * 7)
                    per_component_low = sub_category.low_hours
                    per_component_medium = sub_category.medium_hours
                    per_component_high = sub_category.hours
                    low_total = (component_low_count * per_component_low)
                    medium_total = (component_medium_count * per_component_medium)
                    high_total = (component_high_count * per_component_high)
                    estimated_total = low_total + medium_total + high_total
                    overridden_total = low_total + medium_total + high_total
                  end
                  @overridden_total_cost += overridden_total
                  @estimated_total_cost += estimated_total
                %>



                <div class="ibox-content custom-ibox">
                  <div class="row">
                    <div class="col-lg-4 custom-col">
                      <%= text_field_tag 'estimation_details[sub_category_name][]', sub_category.name, :class =>  "form-control custom-input", :placeholder => 'Sub category name' %>
                    </div>
                    <div class="col-lg-2 custom-col">
                      <%= select_tag 'estimation_details[applicable][]', options_for_select(Estimation::APPLICABLE), prompt: "(Y/N)", class: "form-control custom-input #{sub_category.class_name}", style: 'border-color: red;' %>
                    </div>
                    <div class="col-lg-1 custom-col" style="display: none;">
                      <%= number_field_tag 'estimation_details[per_component_low][]', per_component_low, :class =>  "form-control custom-input #{sub_category.class_name}",:placeholder => 'Low', readonly: true, style: 'border-color: yellow;' %>
                    </div>
                    <div class="col-lg-1 custom-col" style="display: none;">
                      <%= number_field_tag 'estimation_details[per_component_medium][]', per_component_medium, :class =>  "form-control custom-input #{sub_category.class_name}",:placeholder => 'Medium', readonly: true, style: 'border-color: orange;' %>
                    </div>
                    <div class="col-lg-1 custom-col" style="display: none;">
                      <%= number_field_tag 'estimation_details[per_component_high][]', per_component_high, :class =>  "form-control custom-input #{sub_category.class_name}",:placeholder => 'High', readonly: true, style: 'border-color: green;' %>
                    </div>
                    <div class="col-lg-1 custom-col" style="display: none;">
                      <%= number_field_tag 'estimation_details[component_low_count][]', component_low_count, :class =>  "form-control custom-input #{sub_category.class_name}",:placeholder => 'Low', readonly: true, style: 'border-color: yellow;' %>
                    </div>
                    <div class="col-lg-1 custom-col" style="display: none;">
                      <%= number_field_tag 'estimation_details[component_medium_count][]', component_medium_count, :class =>  "form-control custom-input #{sub_category.class_name}",:placeholder => 'Medium', readonly: true, style: 'border-color: orange;' %>
                    </div>

                    <% if sub_category.class_name == SubCategory::DEPENDS_ON_ITERATION %>

                      <div class="col-lg-1 custom-col">
                        <%= number_field_tag 'estimation_details[component_high_count][]', 1, :class =>  "form-control custom-input iteration_count",:placeholder => 'Iteration', style: 'border-color: green;', min: 1 %>
                      </div>
                      <div class="col-lg-2 custom-col">
                        <%= number_field_tag 'estimation_details[estimated_total][]', estimated_total, :class =>  "form-control custom-input estimated_total", readonly: true, style: 'font-weight: bold;' %>
                      </div>

                    <% else %>

                      <div class="col-lg-1 custom-col" style="display: none;">
                        <%= number_field_tag 'estimation_details[component_high_count][]', component_high_count, :class =>  "form-control custom-input #{sub_category.class_name}",:placeholder => 'High', readonly: true, style: 'border-color: green;' %>
                      </div>
                      <div class="col-lg-3 custom-col">
                        <%= number_field_tag 'estimation_details[estimated_total][]', estimated_total, :class =>  "form-control custom-input estimated_total", readonly: true, style: 'font-weight: bold;' %>
                      </div>

                    <% end %>

                    <div class="col-lg-3 custom-col">
                      <%= number_field_tag 'estimation_details[overridden_total][]', 0, :class =>  "form-control custom-input overridden_total", style: 'font-weight: bold;' %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
  <% end %>

  <!-- OFFER BLOCK -->
  <%= render 'offer' %>


  <!-- TOTAL BLOCK -->
  <%= render 'total_cost' %>

<% end %>
<% if create_button %>
  <button class="btn btn-primary btn-block" type="button" id="submit_button">Create Estimation</button>
<% end %>
<p class="text-muted text-center" style="margin-bottom: 60px;"></p>

<script type="text/javascript">
    $( document ).ready(function() {
        $("#submit_button").click(function(){
          $('form').submit()
        });
      calculateTotal();
    });


    $(".depends_on_ui, .one_time_setup, .depends_on_usecase, .depends_on_iteration").change(function(){
      val = this.value;
      if(val == 1 || val == '1'){
        estimated_val = $(this).parent().parent().find(".estimated_total").val();
        $(this).parent().parent().find(".overridden_total").val(estimated_val);
        $(this).css('border-color', 'green');
      } else {
        $(this).parent().parent().find(".overridden_total").val(0);
        $(this).css('border-color', 'red');
      }
      calculateTotal();
    });

    $(".iteration_count").keyup(function(){
      val = this.value;
      if(val > 0){
        estimated_val = $(this).parent().parent().find(".estimated_total").val();
        $(this).parent().parent().find(".overridden_total").val(estimated_val * val);
        $(this).css('border-color', 'green');
      } else{
        $(this).parent().parent().find(".iteration_count").val(1);
        estimated_val = $(this).parent().parent().find(".estimated_total").val();
        $(this).parent().parent().find(".overridden_total").val(estimated_val * 1);
        alert('Number of Iteration should be greater than ZERO')
      }
      calculateTotal();
    }); 

    $("#reuse_factor").keyup(function(){
      val = this.value;
      if(val > 0){
        calculateTotal();
      } else {
       $('#reuse_factor').val(0);
       calculateTotal();
      }
    });

    $("#pm_factor").change(function(){
      val = this.value;
      if(val > 6){
        calculateTotal();
      } else {
        alert('cannot be less then 7%')
        $('#pm_factor').val(7);
        calculateTotal();
      }
    });

    $("#mr_factor").change(function(){
      val = this.value;
      if(val > 4){
        calculateTotal();
      } else {
        alert('cannot be less then 5%')
        $('#mr_factor').val(5);
        calculateTotal();
      }
    });

    function calculateTotal() {
      var sum = 0;
      $('.overridden_total').each(function(){
          sum += parseInt($(this).val());  // Or this.innerHTML, this.innerText
      });
      $('#overridden_total').val(sum);
      $('#estimated_total').val(sum);
      var reuse_factor = $('#reuse_factor').val();
      var offer_total = $('#offer_total').val();
      var reuse_total = (reuse_factor * (sum - offer_total)) / 100
      var final_hours = parseInt(sum - offer_total - reuse_total)
      // PM & Meeting Reviews Calculation
      var pm_factor = $('#pm_factor').val();
      var mr_factor = $('#mr_factor').val();
      var pm_effort = parseInt((pm_factor * final_hours) / 100)
      var mr_effort = parseInt((mr_factor * final_hours) / 100)
      $('#pm_effort').val(pm_effort);
      $('#mr_effort').val(mr_effort);
      final_hours = final_hours + pm_effort + mr_effort
      // END
      $('#final_hours').val(final_hours);
      var dev_cost_other_team = (sum * 19)
      $('#dev_cost_other_team').val('$' + dev_cost_other_team);
      var dev_cost_ui_garage = (final_hours * 15)
      $('#dev_cost_ui_garage').val('$' + dev_cost_ui_garage);
      var total_savings = '$' + (dev_cost_other_team - dev_cost_ui_garage)
      $('#total_savings').val(total_savings);
    }
</script>