<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Estimations</h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
      	<div class="ibox-title">
           <h5>Estimations List</h5>
            <div class="ibox-tools">
               <%= link_to 'Create New Estimation', new_estimation_path, :class => "btn btn-w-m btn-primary", :title => "Create New Estimation"%>
            </div>
        </div>
        <div class="ibox-content">
		      <%= render :partial => "shared/notification"%>
          <% if @estimations.present? %>
              <%= will_paginate @estimations , renderer: BootstrapPagination::Rails %>
              <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                <thead>
                <tr>
                  <th>Template</th>
                  <th>SME</th>
                  <th>Client</th>
                  <th>Name</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Created At</th>
                  <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <% @estimations.each do |estimation| %>
                  <% templates = Estimation.templates(estimation.template_ids) %>
                    <tr>
                      <td>
                        <% templates.each do |template| %>
                          <%= link_to template.name, "#{categories_path}?id=#{template.id}" %><br/>
                        <% end %>
                      </td>
                       <td>
                        <%= estimation.user.full_name %>
                      </td>
                      
                      <td>
                        <%= estimation.client.full_name %>
                      </td>
                      <td>
                        <%= estimation.name %>
                      </td>
                      <td>
                        <%= estimation.start_date %>
                      </td>
                      <td>
                        <%= estimation.end_date %>
                      </td>
  
                      <td>
                        <%= estimation.created_at.strftime('%d %b, %y') %>
                      </td>

                      <td class="project-actions" style="text-align: center;">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user" x-placement="bottom-start" style="position: absolute; top: 18px; left: 26px; will-change: top, left;">
                            <li>
                              <%= link_to 'Define UseCases',"#{usecase_estimations_url}?usecase[estimation_id]=#{estimation.id}", :class => 'dropdown-item'%>
                            </li>
                            <li>
                              <%= link_to 'Functional Scope',"#{functional_scope_estimations_url}?functional_scope[estimation_id]=#{estimation.id}", :class => 'dropdown-item'%>
                            </li>
                            <% if estimation.functional_scope.present? %>
                              <% templates.each do |template| %>
                                <li>
                                  <%= link_to template.name, "#{estimation_details_estimations_path}?tid=#{template.id}&eid=#{estimation.id}",  :method => 'get', :class => 'dropdown-item' %>
                                </li>
                              <% end %>
                            <% end %>
                        </ul>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
          <% else %>
              <div class="alert alert-danger" style="text-align: center;"> No Estimations Added Yet</div>
          <% end %>

        </div>
      </div>
    </div>
  </div>


</div>

